@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply font-sans;
}

:lang(ar) {
  font-family: Rubik, 'DM Sans', sans-serif;
}


/* src/index.css أو ملف css عام */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
